<div class="records table-responsive">

    <div class="record-header">
        <div class="add">
            <span>Entries</span>
            <select name="" id="">
                <option value="">ID</option>
            </select>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click) = "clearModel()">Add
                Transaction</button>&nbsp;

        </div>

        <div class="browse">
            <input type="search" placeholder="Search" class="record-search">
            <select name="" id="">
                <option value="">Status</option>
            </select>
        </div>
    </div>

    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th> S.No <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Description <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Date <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Payment Type <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Credit <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Debit <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Balance <span class="icon-arrow">&UpArrow;</span></th>
                    <!-- <th>#</th>
                        <th><span class="las la-sort"></span> CLIENT</th>
                        <th><span class="las la-sort"></span> TOTAL</th>
                        <th><span class="las la-sort"></span> ISSUED DATE</th>
                        <th><span class="las la-sort"></span> BALANCE</th>
                        <th><span class="las la-sort"></span> ACTIONS</th> -->
                </tr>
            </thead>
            <tbody>
                @if(balanceStatement != undefined && balanceStatement.bsModel != undefined && balanceStatement.bsModel.length > 0) {
                    @for (transaction of balanceStatement.bsModel; track transaction; let index = $index) {
                        <tr>
                            <td>{{index+1}}</td>
                            <td>
                                <div class="client">
                                    <div class="client-img bg-img" style="background-image: url(assets/imgs/transaction.png)"></div>
                                    <div class="client-info">
                                        <h4>{{transaction.category.categoryName}}&nbsp;<small>({{transaction.amtType}})</small></h4>
                                        <small>{{transaction.description}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>{{transaction.transactionDate}}</td>
                            <td>{{transaction.paymentType.paymentType}}</td>
                            @if(transaction.amtType === 'CREDIT') {
                            <td><span class="credit">₹{{transaction.inwardAmt}}</span></td>
                            <td></td>
                            <td><span class="balance">₹{{transaction.balance}}</span></td>
                            }
                            @if(transaction.amtType === 'DEBIT') {
                            <td></td>
                            <td><span class="debit">₹{{transaction.outwardAmt}}</span></td>
                            <td><span class="balance">₹{{transaction.balance}}</span></td>
                            }
                        </tr>
                        }
                } @else {
                    <tr class="text-center">
                      <td colspan="7">No records to display</td>
                  </tr>
                  }
               

            </tbody>
        </table>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
            <form novalidate #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Credit/Debit Transactions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Transaction info:</legend>
                        <div class="row">
                            <div class="col-12">
                                <br>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="mb-3">
                                            <label for="transactionDate" class="form-label">Transaction Date</label>
                                            <input type="text" placeholder="Transaction Date" class="form-control" id="trDate"
                                                bsDatepicker
                                                id="transactionDate" name="transactionDate"
                                                #transactionDate="ngModel" [(ngModel)]="transactionModel.transactionDate"
                                                [bsConfig]="bsConfig">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="mb-3">
                                            <label for="amt" class="form-label">Amount</label>
                                            <input type="number" class="form-control" id="amt" name="amt"
                                                #amount="ngModel" [(ngModel)]="transactionModel.amount" required
                                                [class.is-valid]="amount.valid && (amount.dirty || amount.touched)"
                                                [class.is-invalid]="amount.invalid && (amount.dirty || amount.touched)" 
                                                placeholder="Transaction Amount"/>
                                            @if(amount.errors && (amount.dirty || amount.touched)) {
                                            <div class="form-control-feedback">
                                                @if(amount.errors) {
                                                Amounte is required
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="mb-3">
                                            <label for="amtType" class="form-label">Transaction Type</label>
                                            <ng-select id="amtType" name="amtType" [placeholder]="'Please Select'"
                                                [(ngModel)]="transactionModel.amtType" #amtType="ngModel">
                                                @for (car of transactionTypes; track car.label) {
                                                <ng-option [value]="car.value">{{car.label}}</ng-option>
                                                }
                                            </ng-select>
                                            @if(amtType.errors && (amtType.dirty || amtType.touched)) {
                                            <div class="form-control-feedback">
                                                @if(amtType.errors) {
                                                Transaction Type is required
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="mb-3">
                                            <label for="category" class="form-label">Category</label>
                                            <ng-select id="category" name="category" [placeholder]="'Please Select'"
                                                [(ngModel)]="categoryFieldValue" #category="ngModel" (change)="changeCategory($event)">
                                                @if(categories != undefined && categories != null && categories.length > 0) {
                                                    @for (category of categories; track category.categoryId) {
                                                    <ng-option [value]="category">{{category.categoryName}}</ng-option>
                                                    }
                                                } @else {
                                                    <ng-option [value]="">No Data</ng-option>
                                                }
                                            </ng-select>
                                            @if(category.errors && (category.dirty || category.touched)) {
                                            <div class="form-control-feedback">
                                                Category is required
                                            </div>
                                            }
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="mb-3">
                                            <label for="paymentType" class="form-label">Payment Type</label>
                                            <ng-select id="paymentType" name="paymentType" [placeholder]="'Please Select'"
                                                [(ngModel)]="paymentTypeFieldValue" #paymentType="ngModel" (change)="changePaymentType($event)">
                                                @if(paymentTypes != undefined && paymentTypes != null && paymentTypes.length > 0) {
                                                    @for (pType of paymentTypes; track pType.paymentTypeId;) {
                                                        <ng-option [value]="pType">{{pType.paymentType}}</ng-option>
                                                        }
                                                } @else {
                                                    <ng-option [value]="">No Data</ng-option>
                                                }
                                               
                                            </ng-select>
                                            @if(paymentType.errors && (paymentType.dirty || paymentType.touched)) {
                                            <div class="form-control-feedback">
                                                Payment Type is required
                                            </div>
                                            }
                                        </div>
                                    </div>
                                    @if(this.isCardDetailsEnable) {
                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                            <div class="mb-3">
                                                <label for="cardDetails" class="form-label">Card Details</label>
                                                <ng-select id="cardDetails" name="cardDetails" [placeholder]="'Please Select'"
                                                    [(ngModel)]="cardDetailsFieldValue" #cardDetails="ngModel" (change)="changeCardDetails($event)">
                                                    @if(cardDetailsList != undefined && cardDetailsList != null && cardDetailsList.length > 0) {
                                                        @for (card of cardDetailsList; track card.cardId) {
                                                            <ng-option [value]="card">{{card.cardNumber}} ({{card.cardName}})</ng-option>
                                                            }
                                                    } @else {
                                                        <ng-option [value]="">No Data</ng-option>
                                                    }
                                                    
                                                </ng-select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                            <div class="mb-3">
                                                <label for="cardTransactionType" class="form-label">Card Transaction Type</label>
                                                <ng-select id="cardTransactionType" name="cardTransactionType" [placeholder]="'Please Select'"
                                                    [(ngModel)]="transactionModel.cardTransactionType" #cardTransactionType="ngModel">
                                                    @for (car of cardTransactionTypes; track car.label) {
                                                    <ng-option [value]="car.value">{{car.label}}</ng-option>
                                                    }
                                                </ng-select>
                                                @if(cardTransactionType.errors && (cardTransactionType.dirty || cardTransactionType.touched)) {
                                                <div class="form-control-feedback">
                                                    @if(cardTransactionType.errors) {
                                                    Card Transaction Type is required
                                                    }
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    }

                                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                        <div class="mb-3">
                                            <label for="desc" class="form-label">Description</label>
                                            <textarea class="form-control" id="desc" rows="2" cols="40"
                                                name="description" #description="ngModel"
                                                [(ngModel)]="transactionModel.description"></textarea>
                                            @if(description.errors && (description.dirty || description.touched)) {
                                            <div class="form-control-feedback">
                                                @if(description.errors) {
                                                First name is required
                                                }
                                            </div>
                                            }
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>