    <!-- ======================= Cards ================== -->
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">₹ {{balanceStatement.finalBalance}}</div>
                <div class="cardName">Balance</div>
            </div>

            <div class="iconBx">
                <!-- <ion-icon name="eye-outline"></ion-icon> -->
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">₹ {{balanceStatement.totalInwards}}</div>
                <div class="cardName">Credit</div>
            </div>

            <div class="iconBx">
                <!-- <ion-icon name="cart-outline"></ion-icon> -->
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">₹ {{balanceStatement.totalOutWards}}</div>
                <div class="cardName">Debit</div>
            </div>

            <div class="iconBx">
                <!-- <ion-icon name="chatbubbles-outline"></ion-icon> -->
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers2">₹ {{financeStatement.totalAmount}}&nbsp;<span class="cardName2">Total Amount</span></div>
            </div>

            <div>
                <div class="numbers2">₹ {{financeStatement.totalPriciple}}&nbsp;<span class="cardName2">Total Princeple</span></div>
            </div>

            <div>
                <div class="numbers2">₹ {{financeStatement.totalInterest}}&nbsp;<span class="cardName2">Total Interest</span></div>
            </div>

            <div class="iconBx">
                <!-- <ion-icon name="cash-outline"></ion-icon> -->
            </div>
        </div>
        
    </div>
  
    <div class="grid-stack">
        <div class="grid-stack-item" gs-w="6" gs-h="5" gs-x="0" gs-y="0">
            <div class="grid-stack-item-content"><app-user-charts [chartType]="'spline'"></app-user-charts></div>
        </div>
    
        <div class="grid-stack-item" gs-w="6" gs-h="5" gs-x="6" gs-y="4">
            <div class="grid-stack-item-content"><app-user-charts [chartType]="'doughnut'"></app-user-charts></div>
        </div>

        <div class="grid-stack-item" gs-w="6" gs-h="5" gs-x="-0" gs-y="0">
            <div class="grid-stack-item-content"><app-recent-transactions></app-recent-transactions></div>
        </div>
        
        <div class="grid-stack-item" gs-w="6" gs-h="5" gs-x="6" gs-y="4">
            <div class="grid-stack-item-content"><app-user-charts [chartType]="'column'"></app-user-charts></div>
        </div>

        <div class="grid-stack-item" gs-w="6" gs-h="5" gs-x="-0" gs-y="0">
            <div class="grid-stack-item-content"><app-recent-transactions></app-recent-transactions></div>
        </div>
        
        <div class="grid-stack-item" gs-w="6" gs-h="5" gs-x="6" gs-y="4">
            <div class="grid-stack-item-content"><app-user-charts [chartType]="'line'"></app-user-charts></div>
        </div>
    </div>


    <!-- ================ Order Details List ================= -->
    <!-- <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Recent Orders</h2>
                <a href="#" class="btn">View All</a>
            </div>

        </div>

        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Recent Customers</h2>
            </div>

            <table>
                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>David <br> <span>Italy</span></h4>
                    </td>
                </tr>

                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>Amit <br> <span>India</span></h4>
                    </td>
                </tr>

                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="assets/imgs/customer02.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>David <br> <span>Italy</span></h4>
                    </td>
                </tr>

                <tr>
                    <td width="60px">
                        <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                    </td>
                    <td>
                        <h4>Amit <br> <span>India</span></h4>
                    </td>
                </tr>

                
            </table>
        </div>
    </div> -->
    