.grid-stack-item {
  padding: 10px;

}

.grid-stack-item-content {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  height: 97%;
  /* Ensures content fills the widget */
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  scrollbar-width: none !important;
}