@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("@ng-select/ng-select/themes/default.theme.css");
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
*{
    font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #12385c;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --btnclr: #ff9512;
}

body {
  min-height: 100vh;
  overflow-y: scroll !important;
    overflow-x: hidden !important;
    scrollbar-width: none !important;
}

.container {
  position: relative;
  width: 100%;
}

.icon {
  position: relative;
  display: block;
  min-width: 80px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  font-size: 1.75rem;
}

.main {
    margin-top: 64px;
  position: absolute;
  width: calc(100% - 220px);
  left: 220px;
  min-height: 89vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}



.logo {
  position: relative;
  width: 210px;
  height: 58px;
  overflow: hidden;
  cursor: pointer;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid var(--blue);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .user:hover {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid var(--btnclr);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .numbers2 {
  position: relative;
  font-weight: 500;
  font-size: 19px;
  color: var(--blue);
}

.cardBox .card .cardName2 {
  color: var(--black2);
  font-size: 15px;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

.cardBox .card:hover .numbers2,
.cardBox .card:hover .cardName2,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

.details {
  position: relative;
  width: 100%;
  /* padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px; */
}

.details .recentOrders {
  position: relative;
  min-height: 500px;
  height: auto;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--btnclr);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

/* .details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
} */
.status.delivered {
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  height: 488px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    /* z-index: 1000; */
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}





table tr td{
  vertical-align: middle;
}

td button{
  margin: 5px;
}

td button i{
  font-size: 20px;
}

.modal{
  z-index: 1100 !important;
}
/* .modal-header{
  background: var(--blue);
  color: #fff;
} */

.modal-body form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.modal-body form .imgholder{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.imgholder .upload{
  position: absolute;
  bottom: 0;
  left: 10;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.3);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload i{
  color: #fff;
  font-size: 35px;
}

.imgholder:hover .upload{
  display: flex;
}

.imgholder .upload input{
  display: none;
}

.modal-body form .inputField{
  flex-basis: 68%;
  border-left: 5px groove var(--blue);
  padding-left: 20px;
}

form .inputField > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

form .inputField > div label{
  font-size: 20px;
  font-weight: 500;
}

#userForm form .inputField > div label::after{
  content: "*";
  color: red;
}

form .inputField > div input{
  width: 75%;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid  var(--blue);
}

.modal-footer .submit{
  font-size: 18px;
}


#readData form .inputField > div input{
  color: #000;
  font-size: 18px;
}

.custom-btn {
  position: relative;
  padding: 5px 10px;
  background: var(--btnclr) !important;
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
}

body.swal2-toast-shown .swal2-container {
  width: auto !important;
}

.form-control-feedback {
  color: red;
}

.form-border{
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
}



.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.records {
  box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
  background: #fff;
  border-radius: 3px;
}

.record-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add, .browse {
  display: flex;
  align-items: center;
}

.add span {
  display: inline-block;
  margin-right: .6rem;
  font-size: .9rem;
  color: #666;
}

input, button, select {
  outline: none;
}

.add select, .browse input, .browse select {
  height: 35px;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  display: inline-block;
  width: 75px;
  padding: 0rem .5rem;
  margin-right: .8rem;
  color: #666;
}

.add button {
  background: var(--main-color);
  color: #fff;
  height: 37px;
  border-radius: 4px;
  padding: 0rem 1rem;
  border: none;
  font-weight: 600;
}

.browse input {
  width: 150px;
}

.browse select {
  width: 100px;
}

.table-responsive {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

table thead tr {
  background: #58738d;
}

table thead th {
  padding: 1rem 0rem;
  text-align: left;
  color: #fff;
  font-size: .9rem;
}

table thead th:first-child {
  padding-left: 1rem;
}

table tbody td {
  padding: 1rem 0rem;
  color: #444;
}

table tbody td:first-child {
  padding-left: 1rem;
  color: var(--main-color);
  font-weight: 600;
  font-size: .9rem;
}

table tbody tr {
  border-bottom: 1px solid #dee2e8;
}

.client {
  display: flex;
  align-items: center;
}

.client-img {
  margin-right: .5rem;
  border: 2px solid #b0b0b0;
  height: 45px;
  width: 45px;
}

.client-info h4 {
  color: #555;
  font-size: .95rem;
}

.client-info small {
  color: #777;
}

.actions span {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: .5rem;
}

.credit {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  color: var(--main-color);
  background: #e5f8ed;
  padding: .5rem 1rem;
  border-radius: 20px;
  font-size: .8rem;
}

.debit {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  color: var(--main-color);
  background: #f8e5e5;
  padding: .5rem 1rem;
  border-radius: 20px;
  font-size: .8rem;
}

.balance {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  color: var(--main-color);
  background: #bfd3f8;
  padding: .5rem 1rem;
  border-radius: 20px;
  font-size: .8rem;
}

.add button {
  background: #395977;
  color: #fff;
  height: 37px;
  border-radius: 4px;
  padding: 0rem 1rem;
  border: none;
  font-weight: 600;
}

.ng-select.ng-select-single .ng-select-container {
  height: 39px;
}


bs-datepicker-container, bs-daterangepicker-container {
  z-index: 1200 !important;
}

.bs-datepicker-body table thead tr {
  background: #ffffff !important;
}

.theme-green .bs-datepicker-head {
  background-color: #7c91a5 !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: var(--btnclr) !important;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*=select-]:after, .theme-green .bs-datepicker-body table td[class*=select-] span:after {
  background-color: #7c91a5 !important;
}

.footer {
  display: block;
  unicode-bidi: isolate;

  max-height: 10px;
}


fieldset {
  border: 2px solid var(--blue) !important;
  border-radius: 5px !important;
  margin-bottom: 20px !important;
  padding: 10px 20px !important;
}

@media (min-width: 1200px) {
  legend {
      font-size: 1.5rem;
      float: none;
  }
}
legend {
  float: none !important;
  width: auto !important;
  padding: 0 !important;
  margin-bottom: .5rem !important;
  font-size: calc(1.275rem + .3vw) !important;
  line-height: inherit !important;
  border-radius: 20px !important;
  background-color: #a9acaf !important;
  color: white !important;
  border: 1px solid !important;
  padding-left: 6px !important;
  font-size: 15px !important;
  padding-right: 6px !important;
}
