:root {
    --blue: #12385c;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --btnclr: #ff9512;
  }

header {
    width: 100%;
    box-shadow: 0px -3px 15px 2px;
    height: 64px;
    background: linear-gradient(to right, var(--blue), var(--white));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 1100;
}

.header-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 120px;
    max-height: 120px;
    margin-top: 10px;
}

header {
    width: 100%;
    box-shadow: 0px -3px 15px 2px;
    height: 64px;
    background: linear-gradient(to right, var(--blue), var(--white));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 1100;
}

.header-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 25px;
    overflow: visible;

    max-width: 700px;
}

.main-menu a {
    width: 100%;
    text-align: center;
    padding: .75em 1em;
    display: block;
    color: #ffffff;
    border-bottom: 2px solid #ddd;
    text-decoration: none !important;
}

.main-menu a:hover {
    color: var(--btnclr);
    border-bottom-color: var(--btnclr);
    text-decoration: none !important;
}

.drop-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: max-height .4s, opacity .3s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}


.drop-menu>.menu-button {
    height: 100%;
    transition: transform .4s;
    transform: translateY(-300%);
    background: #99aab9;
    cursor: pointer;
}

.dropdown-wrapper:hover .drop-menu {
    max-height: 300px;
    opacity: 1;
    padding-top: 16px;
}

.dropdown-wrapper:hover>.drop-menu .menu-button {
    transform: translateY(0%);
}


@media (min-width: 550px) {
    .effect {
        transition: max-height 0s;
        opacity: 1;
        background: transparent;
    }
    .effect .menu-button {
        transform: translateY(0%);
    }
    .scissor .menu-button {
        transform: translateX(-100%);
    }
    .scissor .menu-button:nth-child(2n+1) {
        transform: translateX(100%);
    }

    .dropdown-wrapper:hover .scissor .menu-button {
        transform: translateX(0%);
    }


    .fade-in .menu-button {
        transition: opacity .5s;
        opacity: 0;
    }

    .dropdown-wrapper:hover .fade-in .menu-button {
        opacity: 1;
    }



    .header-container {
        width: 90%;
    }

    .header-container {
        height: 200px;
        justify-content: space-between;
    }

    .main-menu {
        flex-direction: row;
        align-items: flex-start;
        height: 51px;
        margin: 0;
    }

    .main-menu>.menu-button {
        width: 23%;
        max-width: 150px;
    }

    .logo {
        max-width: 130px;
        max-height: 130px;
        margin-top: 15px;
    }

}

@media (min-width: 850px) {

    .header-container {
        height: 59px;
    }

    /* .main-menu {
        width: 60%;
        justify-content: space-between;
    } */

    .logo {
        margin: 0;
    }

}
.bg{
    background: linear-gradient(to right, var(--blue), var(--white)) !important;
}

li{
    list-style: none;
    margin: 8px;
}

.head {
    width: 32px;
    height: 35px;
    font-size: 20px;
    border: 1px solid black;
}

.head:after {
    width: 4px;
    height: 10px;
    position: absolute;
    top: 21px;
    left: 14px;
    transform: rotate(270deg);
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.header-icon {
    font-size: 24px;
    padding: 2px;
    color: var(--blue);
}

.header-icon:hover {
    padding: 2px;
    font-size: 24px;
    color: var(--btnclr);
}