<header>
    <app-user-header></app-user-header>
</header>
<app-user-side></app-user-side>
<div class="main" [ngClass]="{'active': sharedService.isADBMenuToggle}">
    <router-outlet></router-outlet>
    <!-- <app-user-footer></app-user-footer> -->
</div>