<div class="records table-responsive">

    <div class="record-header">
        <div class="add">
            <span>Entries</span>
            <select name="" id="">
                <option value="">ID</option>
            </select>
            <button data-bs-toggle="modal" data-bs-target="#FinanceForm">New Finance</button>
        </div>

        <div class="browse">
           <input type="search" placeholder="Search" class="record-search">
            <select name="" id="">
                <option value="">Status</option>
            </select>
        </div>
    </div>

    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th> S.No <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Concerns<span class="icon-arrow">&UpArrow;</span></th>
                    <th> Type <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Duration <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Lend/Borrow Date <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Interest Rate <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Principle <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Interest <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Total Amount <span class="icon-arrow">&UpArrow;</span></th>
                    <!-- <th>#</th>
                    <th><span class="las la-sort"></span> CLIENT</th>
                    <th><span class="las la-sort"></span> TOTAL</th>
                    <th><span class="las la-sort"></span> ISSUED DATE</th>
                    <th><span class="las la-sort"></span> BALANCE</th>
                    <th><span class="las la-sort"></span> ACTIONS</th> -->
                </tr>
            </thead>
            <tbody>
                @for (transaction of financeStatement.financeLines; track transaction;  let index = $index) {
                    <tr>
                        <td>{{index+1}}</td>
                        <td>
                            <div class="client">
                                <div class="client-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                                 <div class="client-info">
                                     <h4>Lender: {{transaction.lenderName}}</h4>
                                     <h4>Borrower: {{transaction.borrowerName}}</h4>
                                 </div>
                             </div>
                        </td>
                        <td>{{transaction.financeType}}</td>
                        <td>{{transaction.years}}Y: {{transaction.months}}M: {{transaction.days}}D</td>
                        <td>{{transaction.lendOrBorrowDate}}</td>
                        <td>{{transaction.status}}</td>
                        <td>₹ {{transaction.interestRate}}</td>
                        <td><span class="credit">₹{{transaction.principleAmt}}</span></td>
                        <td><span class="credit">₹{{transaction.interest}}</span></td>
                        <td><span class="balance">₹{{transaction.totalAmount}}</span></td>
                        </tr>
                }
                
            </tbody>
        </table>
    </div>

</div>
<!--Modal Form-->
<div class="modal fade" id="FinanceForm">
<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-body">
            <!-- <div class="row">
                <div class="col-12">
                    <div class="cardHeader">
                        <h4>Credit/Debit Transactions</h4>
                    </div>
                    <br>
                    <div class="form-border">
                        <form novalidate #f="ngForm" (ngSubmit)="onSubmit()">

                            <fieldset ngModelGroup="name">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="d-flex justify-content-end">Transaction Date</label>
                                                </div>
                                                <div class="col-9">
                                                        <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="d-flex justify-content-end">Amount</label>
                                                </div>
                                                <div class="col-9">
                                                    <input type="number" class="form-control" name="amt"
                                                        #amount="ngModel" [(ngModel)]="transactionModel.amount"
                                                        required
                                                        [class.is-valid]="amount.valid && (amount.dirty || amount.touched)"
                                                        [class.is-invalid]="amount.invalid && (amount.dirty || amount.touched)" />
                                                    @if(amount.errors && (amount.dirty || amount.touched)) {
                                                    <div class="form-control-feedback">
                                                        @if(amount.errors) {
                                                        Amounte is required
                                                        }
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="d-flex justify-content-end">Transaction Type</label>
                                                </div>
                                                <div class="col-9">
                                                    <ng-select name="amtType" [(ngModel)]="transactionModel.amtType"  #amtType="ngModel">
                                                        @for (car of transactionTypes; track car.label) {
                                                            <ng-option [value]="car.value">{{car.label}}</ng-option>
                                                        }
                                                    </ng-select>
                                                    @if(amtType.errors && (amtType.dirty || amtType.touched)) {
                                                    <div class="form-control-feedback">
                                                        @if(amtType.errors) {
                                                        Transaction Type is required
                                                        }
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-3">
                                                    <label class="d-flex justify-content-end">Description</label>
                                                </div>
                                                <div class="col-9">
                                                    <textarea class="form-control" rows="4" cols="50" name="description"
                                                    #description="ngModel" [(ngModel)]="transactionModel.desc">
                                                    </textarea>
                                                    @if(description.errors && (description.dirty || description.touched)) {
                                                    <div class="form-control-feedback">
                                                        @if(description.errors) {
                                                        First name is required
                                                        }
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

</div>
</div>
