.list-container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 30px;
    /* margin-top: 10px; */
  }
  
  .list-container .recentOrders {
    position: relative;
    min-height: 500px;
    height: 488px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
  }
  
  .list-container .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--btnclr);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  
  .list-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  .list-container table thead td {
    font-weight: 600;
  }
  .list-container .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .list-container .recentOrders table tfoot tr {
    color: var(--black1);
    border-top: 3px solid rgb(117, 115, 115);
    border-bottom: 3px solid rgb(117, 115, 115);
  }
  .list-container .recentOrders table tr:last-child {
    border-bottom: none;
  }
  .list-container .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  .list-container .recentOrders table tfoot tr:hover {
    background: var(--blue);
    color: var(--white);
  }
  .list-container .recentOrders table tfoot tr td {
    font-weight: bold;
  }
  .list-container .recentOrders table tr td {
    padding: 10px;
  }
  .list-container .recentOrders table tr td:last-child {
    text-align: end;
  }
  .list-container .recentOrders table tr td:nth-child(2) {
    text-align: end;
  }
  .list-container .recentOrders table tr td:nth-child(3) {
    text-align: center;
  }

  @media (max-width: 991px) {
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .detlist-containerails {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
  }

 