<nav>
    <ul>
        <li [routerLink]="['card-details']">
            <div class="head">
                <fa-icon [icon]="faCreditCard"></fa-icon>
            </div>
        </li>
        <li [routerLink]="['categories']">
            <div class="head">
                <fa-icon [icon]="faCategories"></fa-icon>
            </div>
        </li>
        <li [routerLink]="['payment-types']">
            <div class="head">
                <fa-icon [icon]="faPaymentTypes"></fa-icon>
            </div>
        </li>
        <!-- <li>
            <div class="head">
                <fa-icon [icon]="calculator"></fa-icon>
            </div>
        </li>
        <li>
            <div class="head">
                <fa-icon [icon]="invoice"></fa-icon>
            </div>
        </li>
        <li>
            <div class="head">
                <fa-icon [icon]="invoice"></fa-icon>
            </div>
        </li> -->

    </ul>
</nav>