<div class="records table-responsive">

  <div class="record-header">
      <div class="add">
          <span>Entries</span>
          <select name="" id="">
              <option value="">ID</option>
          </select>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add
              Card</button>&nbsp;

      </div>

      <div class="browse">
          <input type="search" placeholder="Search" class="record-search">
          <select name="" id="">
              <option value="">Status</option>
          </select>
      </div>
  </div>

  <div>
      <table width="100%">
          <thead>
              <tr>
                  <th> S.No <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Card Name <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Card Number <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Bank Name<span class="icon-arrow">&UpArrow;</span></th>
                  <th> Card Limit <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Modified Date <span class="icon-arrow">&UpArrow;</span></th>
              </tr>
          </thead>
          <tbody>
            @if(cardDetailsList != undefined && cardDetailsList != null && cardDetailsList.length > 0) {
              @for (card of cardDetailsList; track card.cardId; let index = $index) {
              <tr>
                  <td>{{index+1}}</td>
                  <td>{{card.cardName}}</td>
                  <td>{{card.cardNumber}}</td>
                  <td>{{card.bankName}}</td>
                  <td>{{card.cardLimit}}</td>
                  <td>{{card.modifiedDate}}</td>
              </tr>
              }
            } @else {
              <tr class="text-center">
                <td colspan="6">No records to display</td>
            </tr>
            }

          </tbody>
      </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content ">
          <form #cardForm="ngForm" (ngSubmit)="cardForm.form.valid && onSubmit()" novalidate autocomplete="off">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Card Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12">
                          <br>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mb-3">
                                      <label for="cardName" class="form-label">Card Name</label>
                                      <input type="text" class="form-control" id="cardName" name="cardName" #cardName="ngModel"
                                          [(ngModel)]="cardDetails.cardName" required
                                          [class.is-valid]="cardName.valid && (cardName.dirty || cardName.touched)"
                                          [class.is-invalid]="cardName.invalid && (cardName.dirty || cardName.touched)" />
                                      @if(cardName.errors && (cardName.dirty || cardName.touched)) {
                                      <div class="form-control-feedback">
                                          Card Name is required
                                      </div>
                                      }
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mb-3">
                                      <label for="cardNumber" class="form-label">Card Number</label>
                                      <input type="text" class="form-control" id="cardNumber" name="cardNumber" #cardNumber="ngModel"
                                          [(ngModel)]="cardDetails.cardNumber" required
                                          [class.is-valid]="cardNumber.valid && (cardNumber.dirty || cardNumber.touched)"
                                          [class.is-invalid]="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" />
                                      @if(cardNumber.errors && (cardNumber.dirty || cardNumber.touched)) {
                                      <div class="form-control-feedback">
                                          Card Number is required
                                      </div>
                                      }
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="bankName" class="form-label">Bank Name</label>
                                    <input type="text" class="form-control" id="bankName" name="bankName" #bankName="ngModel"
                                        [(ngModel)]="cardDetails.bankName" required
                                        [class.is-valid]="bankName.valid && (bankName.dirty || bankName.touched)"
                                        [class.is-invalid]="bankName.invalid && (bankName.dirty || bankName.touched)" />
                                    @if(bankName.errors && (bankName.dirty || bankName.touched)) {
                                    <div class="form-control-feedback">
                                        Bank Name is required
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="cardLimit" class="form-label">Card Limit</label>
                                    <input type="number" class="form-control" id="cardLimit" name="cardLimit" #cardLimit="ngModel"
                                        [(ngModel)]="cardDetails.cardLimit" required
                                        [class.is-valid]="cardLimit.valid && (cardLimit.dirty || cardLimit.touched)"
                                        [class.is-invalid]="cardLimit.invalid && (cardLimit.dirty || cardLimit.touched)" />
                                    @if(cardLimit.errors && (cardLimit.dirty || cardLimit.touched)) {
                                    <div class="form-control-feedback">
                                        Card Limit is required
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="cardForm.invalid">
                      Submit
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>