<nav>
    <ul>
        <li [routerLink]="['dashboard']">
            <div class="head">
                <fa-icon [icon]="faHouse"></fa-icon>
            </div>
        </li>
        <li [routerLink]="['inwards']">
            <div class="head">
                <fa-icon [icon]="moneyTransactions"></fa-icon>
            </div>
        </li>
        <li [routerLink]="['outwards']">
            <div class="head">
                <fa-icon [icon]="finance"></fa-icon>
            </div>
        </li>
        <li>
            <div class="head">
                <fa-icon [icon]="calculator"></fa-icon>
            </div>
        </li>
        <li>
            <div class="head">
                <fa-icon [icon]="invoice"></fa-icon>
            </div>
        </li>
        <li>
            <div class="head">
                <fa-icon [icon]="invoice"></fa-icon>
            </div>
        </li>
        <!-- <li (click)="logout()">
            <div class="head">
                <fa-icon [icon]="signOut"></fa-icon>
            </div>
        </li> -->

    </ul>
</nav>