nav {
    float: left;
    position: fixed;
    top: 120px;
    max-width: 255px;
    width: 252px;
    height: 250px;
    min-height: 500px;
    left: -32px;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

nav ul {
    text-align: center;
}

nav ul li {
    position: relative;
    width: 70px;
    cursor: pointer;
    background: linear-gradient(to right, #12385c, #4d6378);
    text-transform: uppercase;
    transition: all .4s ease-out;
    color: white;
    line-height: 46px;

}

nav ul li:after {
    position: absolute;
    background: white;
    color: #12385c;
    top: 0;
    left: 70px;
    width: 70px;
    height: 100%;
    opacity: .5;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: 0 100%;
    transition: all .4s ease-out;
}

nav ul li:nth-child(1):after {
    content: "Home";
    line-height: 80px;
    font-size: 15px;
}

nav ul li:nth-child(2):after {
    content: "Transactions";
    line-height: 80px;
    font-size: 9px;
}

nav ul li:nth-child(3):after {
    content: "Finanace";
    line-height: 80px;
    font-size: 10px;
}

nav ul li:nth-child(4):after {
    content: "Interest Calculator";
    line-height: 15px;
    font-size: 9px;
    padding-top: 21px;
}

nav ul li:nth-child(5):after {
    content: "Log out";
    line-height: 80px;
    font-size: 10px;
}

nav ul li:nth-child(6):after {
    content: "Log out";
    line-height: 80px;
    font-size: 10px;
}

nav ul li:nth-child(7):after {
    content: "Log out";
    line-height: 80px;
    font-size: 10px;
}

nav ul li:nth-child(8):after {
    content: "Log out";
    line-height: 80px;
    font-size: 10px;
}

nav ul li:hover {
    transform: translateX(-70px);
}

nav ul li:hover:after {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg) scale(1);
}


nav ul li>div {
    display: inline-block;
    padding: 25px 0;
    background: transparent;
}

nav ul li div {
    position: relative;
}


.head {
    width: 32px;
    height: 35px;
    font-size: 20px;
}

.head:after {
    width: 4px;
    height: 10px;
    position: absolute;
    top: 21px;
    left: 14px;
    transform: rotate(270deg);
}