<div class="records table-responsive">

  <div class="record-header">
      <div class="add">
          <span>Entries</span>
          <select name="" id="">
              <option value="">ID</option>
          </select>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clearModal()">Add
              Payment Type</button>&nbsp;

      </div>

      <div class="browse">
          <input type="search" placeholder="Search" class="record-search">
          <select name="" id="">
              <option value="">Status</option>
          </select>
      </div>
  </div>

  <div>
      <table width="100%">
          <thead>
              <tr>
                  <th> S.No <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Payment Type <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Payment Type Value<span class="icon-arrow">&UpArrow;</span></th>
              </tr>
          </thead>
          <tbody>
            @if(paymentTypeList != undefined && paymentTypeList != null && paymentTypeList.length > 0) {
              @for (paymentType of paymentTypeList; track paymentType.PaymentTypeId; let index = $index) {
              <tr>
                  <td>{{index+1}}</td>
                  <td>{{paymentType.paymentType}}</td>
                  <td>{{paymentType.paymentTypeValue}}</td>
              </tr>
              }
            } @else {
              <tr class="text-center">
                <td colspan="3">No records to display</td>
            </tr>
            }

          </tbody>
      </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content ">
          <form #cardForm="ngForm" (ngSubmit)="cardForm.form.valid && onSubmit()" novalidate autocomplete="off">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Payment Type</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12">
                          <br>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mb-3">
                                      <label for="paymentType" class="form-label">Payment Type</label>
                                      <input type="text" class="form-control" id="paymentType" name="paymentType" #paymentType="ngModel"
                                          [(ngModel)]="paymentTypeModel.paymentType" required
                                          (keyup)="makeCategoryValue()" ((keydown))="makeCategoryValue()"
                                          [class.is-valid]="paymentType.valid && (paymentType.dirty || paymentType.touched)"
                                          [class.is-invalid]="paymentType.invalid && (paymentType.dirty || paymentType.touched)" />
                                      @if(paymentType.errors && (paymentType.dirty || paymentType.touched)) {
                                      <div class="form-control-feedback">
                                          Payment is required
                                      </div>
                                      }
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mb-3">
                                      <label for="paymentTypeValue" class="form-label">Payment Type Value</label>
                                      <input type="text" class="form-control" id="paymentTypeValue" name="paymentTypeValue" #paymentTypeValue="ngModel"
                                          [(ngModel)]="paymentTypeModel.paymentTypeValue" disabled/>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="cardForm.invalid">
                      Submit
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>