
<div class="login_bg">
    <div class="container" id="container">
        @if(isRegister) {
            <div class="form-container sign-up">
                <form>
                    <h3>Create Account</h3>
                    <div class="social-icons">
                    </div>
                    <span>or use your email for registeration</span>
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button (click) = "toggleLogin()">Sign Up</button>
                </form>
            </div>
        }

        @if(!isRegister) {
            <div class="form-container sign-in">
                <form (ngSubmit)="login()">
                    <h1>Sign In</h1>
                    <div class="social-icons">
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example11">Username</label>
                        <input type="text" name="username" id="form2Example11" class="form-control" [(ngModel)]="username"
                          placeholder="Phone number or email address" />
                      </div>
    
                      <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example22">Password</label>
                        <input type="password" id="form2Example22" name="password" [(ngModel)]="password" class="form-control" />
                      </div>
                    <a href="#">Forget Your Password?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
            
        }
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login" (click) = "toggleLogin()">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register" (click) = "toggleLogin()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>