<header><app-admin-header></app-admin-header></header>
<app-admin-side></app-admin-side>
<div class="main" [ngClass]="{'active': sharedService.isADBMenuToggle}">
    <router-outlet></router-outlet>
    <!-- <app-admin-footer></app-admin-footer> -->
</div>