<!-- <div class="topbar">
    <div class="logo">
       c
    </div>

    <div class="search">
        <label>
            <input type="text" placeholder="Search here">
        </label>
    </div>

    <div class="user">
        <img src="assets/imgs/customer02.jpg" alt="">
    </div>
    
</div> -->


<header>
    <a href="#"  class="logo">
        <img src="assets/imgs/logo.png" alt="">
    </a>
    <nav class="main-menu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLink]="['/user']">
                <div class="user">
                    <div class="header-icon">
                        <fa-icon [icon]="admin"></fa-icon>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown-wrapper menu-button">
                        <div class="user">
                            <img src="assets/imgs/customer02.jpg" alt="">
                        </div>
                    <div class="drop-menu scissor effect">
                        <a class="menu-button" >My Accout</a>
                        <a class="menu-button" (click)="logout()"(click)="logout()">Sign Out</a>
                    </div>
                </div>
            </li>
        </ul>
        
    </nav>
</header>
