<!-- <ngx-spinner type="ball-scale-ripple">
    <p class="text-white">loading...</p>
</ngx-spinner> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-spin" [fullScreen] = "true" template = "<img src='assets/imgs/loader.gif'/>"><p style="color: white" > Loading... </p></ngx-spinner>
<router-outlet/>