<div class="records table-responsive">

  <div class="record-header">
      <div class="add">
          <span>Entries</span>
          <select name="" id="">
              <option value="">ID</option>
          </select>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clearModal()">Add
              Category</button>&nbsp;

      </div>

      <div class="browse">
          <input type="search" placeholder="Search" class="record-search">
          <select name="" id="">
              <option value="">Status</option>
          </select>
      </div>
  </div>

  <div>
      <table width="100%">
          <thead>
              <tr>
                  <th> S.No <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Category <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Category Value <span class="icon-arrow">&UpArrow;</span></th>
              </tr>
          </thead>
          <tbody>
            @if(categoriesList != undefined && categoriesList != null && categoriesList.length > 0) {
              @for (item of categoriesList; track item.categoryId; let index = $index) {
              <tr>
                  <td>{{index+1}}</td>
                  <td>{{item.categoryName}}</td>
                  <td>{{item.categoryValue}}</td>
              </tr>
              }
            } @else {
              <tr class="text-center">
                <td colspan="3">No records to display</td>
            </tr>
            }

          </tbody>
      </table>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content ">
          <form #cardForm="ngForm" (ngSubmit)="cardForm.form.valid && onSubmit()" novalidate autocomplete="off">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Categories</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12">
                          <br>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mb-3">
                                      <label for="categoryName" class="form-label">Category</label>
                                      <input type="text" class="form-control" id="category" name="categoryName" #categoryName="ngModel"
                                          [(ngModel)]="category.categoryName" required
                                          [class.is-valid]="categoryName.valid && (categoryName.dirty || categoryName.touched)"
                                          [class.is-invalid]="categoryName.invalid && (categoryName.dirty || categoryName.touched)" 
                                          (keyup)="makeCategoryValue()" ((keydown))="makeCategoryValue()"/>
                                      @if(categoryName.errors && (categoryName.dirty || categoryName.touched)) {
                                      <div class="form-control-feedback">
                                          Category name is required
                                      </div>
                                      }
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mb-3">
                                      <label for="categoryValue" class="form-label">Card Number</label>
                                      <input type="text" class="form-control" id="categoryValue" name="categoryValue" #categoryValue="ngModel"
                                          [(ngModel)]="category.categoryValue" disabled/>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="cardForm.invalid">
                      Submit
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>